<header>
  <nav>
    <ul>
      <li><a href="/">Showcaser</a></li>
      <li><a href="/users">Students</a></li>
      <% if (isLoggedIn) { %>
      <!-- Display content for logged-in users -->
      <li><a href="/upload">Upload</a></li>
      <li><a href="/logout">Log out</a></li>
      <% } else { %>
      <!-- Display content for non-logged-in users -->
      <li><a href="/login" class="no-mobile">Log in</a></li>
      <li><a href="/signup" class="no-mobile">Sign up</a></li>

      <% } %>
    </ul>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </nav>
  <% if (isLoggedIn) { %>
  <!-- Display content for logged-in users -->
  <div class="user-header">
    <p>Welcome, <%= user.displayname %></p>
    <a href="/user/<%= user.id %>">
      <img
        class="avatar"
        src="data:<%= mime %>;base64,<%= content.toString('base64')
    %>"
      />
    </a>

    <a href="/account/<%= user.id %>">
      <i class="fas fa-cog settings-icon" style="width: 36px; height: 36px"></i>
    </a>
  </div>

  <% } %>
</header>
