<!DOCTYPE html>
<html>
  <%- include('head', { title: 'Users' }) %>

  <body>
    <%- include('header') %>
    <h1 class="center">Registered Users</h1>
    <div class="users-board">
      <% for (let user of users) { %>
      <div class="user-board" id="<%= user.id %>" onclick="handleClick(event)">
        <h2 id="<%= user.id %>"><%= user.displayname %></h2>
        <img
          src="data:<%= user.mime %>;base64,<%= user.content.toString('base64') %>"
          alt="Avatar"
          class="avatar"
          id="<%= user.id %>"
        />
        <p id="<%= user.id %>"><%=user.city %>, <%=user.course %></p>
      </div>
      <% } %>
    </div>
    <script>
      function handleClick(event) {
        window.location.href = `/user/${event.target.id}`;
      }
    </script>
  </body>
</html>
