<!DOCTYPE html>
<html>
  <%- include('head', { title: 'Home' }) %>

  <body>
    <%- include('header') %>
    <div class="background-container"></div>
    <div class="heading-div">
      <h1>Showcaser</h1>
      <p>
        Showcasing students<br />
        projects
      </p>
    </div>

    <div class="cities-board">
      <div class="title-div">
        <h1 class="center">Cities</h1>
      </div>
      <% cities && cities.forEach((city) => { %>
      <a href="/projects?city=<%= city.city %>">
        <div
          class="city-board"
          onmouseover="changeBoard(this)"
          onmouseout="resetBoard(this)"
        >
          <h2><%= city.city %></h2>
          <h3 style="display: none"><%= city.count %> Projects</h3>
        </div>
      </a>
      <% }) %>
    </div>

    <div class="courses-board">
      <div class="title-div">
        <h1 class="center">Courses</h1>
      </div>
      <% courses && courses.forEach((course) => { %>
      <a href="/projects?course=<%= course.course %>">
        <div
          class="course-board"
          onmouseover="changeBoard(this)"
          onmouseout="resetBoard(this)"
        >
          <h2><%= course.course %></h2>
          <h3 style="display: none"><%= course.count %> Projects</h3>
        </div>
      </a>
      <% }) %>
    </div>
    <script>
      function changeBoard(element) {
        const style = element.style;
        const number = element.querySelector("h3");
        number.style.display = "block";
      }

      function resetBoard(element) {
        const number = element.querySelector("h3");
        number.style.display = "none";
      }
    </script>
  </body>
</html>
