<!DOCTYPE html>
<html lang="en">
  <%- include('head', { title: 'Update Project' }) %>
  <body>
    <%- include('header') %>
    <div class="account-page">
      <form class="account-board" action="/update/<%= project.id %>" method="POST" enctype="multipart/form-data">
        <h1>Update Project</h1>
        <div class="input-div">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            placeholder="title"
            value="<%= project.title %>"
            required
          />
        </div>
          <div class="input-div">
            <label for="repos">Github Repo</label>
            <input
              type="text"
              id="repos"
              name="repos"
              placeholder="https://github.com/username/project_name"
              value="<%= project.repos %>"
              required
            />
          </div>
          <div class="input-div">
            <label for="livepage">Live Page</label>
            <input
              type="text"
              id="livepage"
              name="page_url"
              placeholder="Optional"
              value="<%= project.page_url %>"
            />
          </div>
          <div class="textarea-div">
            <label for="description">Description</label>
            <textarea id="description" name="description" cols="40" rows="15" required><%= project.description %></textarea>
          </div>
          <div class="imageupload-div">
            <label for="imageUpload">Add Image(JPEG, PNG) if you like to change</label>
            <input type="file" id="imageUpload" name="imageUpload" accept=".jpg,.jpeg,.png">
          </div>
          <div style="display:none">
             <input type="number" name="old_image_id" value="<%= project.image_id %>">
          </div>
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>