<!DOCTYPE html>
<html>
  <%- include('head', { title: 'Projects '}) %>

  <body>
    <%- include('header') %>
    <h1 class="center"><%= city || course %></h1>
    <article class="projects-board">
      <% if (!projects) { %>
      <h2 class="center">No posting yet...</h2>
      <% } else { %> <% for (let project of projects) { %>
      <div class="project-board" id="<%= project.id %>">
        <h2><%= project.title %></h2>
        <div class="image-container">
          <img
            src="data:<%= project.project_mime %>;base64,<%= project.project_content.toString('base64')
            %>"
            alt="project screenshot"
            class="project-img"
          />
        </div>
        <p><%= project.description %></p>
        <div class="link-div">
          <a href="<%= project.repos %>">Source Code</a>
          <a href="<%= project.page_url %>">Live Page</a>
        </div>
        <div class="update-link-div">
          <% if (user && project.user_id==user.id) { %>
          <a href="/update/<%= project.id %>">Update Project</a>
          <% } %>
        </div>
        <footer class="project-footer">
          Created by <%= project.displayname %>
          <img
            src="data:<%= project.avatar_mime %>;base64,<%= project.avatar_content.toString('base64') %>"
            alt="Avatar"
            class="mini-avatar"
          />
        </footer>
      </div>
      <% } %> <% } %>
    </article>
    <div class="link-div">
      <a href="/users">Back to User Page</a>
    </div>
  </body>
</html>
