<!DOCTYPE html>
<html>
  <%- include('head', { title: 'Project: ' + owner.displayname }) %>

  <body>
    <%- include('header') %>
    <h1 class="center">Projects of <%= owner.displayname %></h1>
    <article class="projects-board">
      <% if (!projects) { %>
      <h2 class="center">No posting yet...</h2>
      <% } else { %> <% for (let project of projects) { %>
      <div class="project-board" id="<%= project.id %>">
        <h2><%= project.title %></h2>
        <div class="image-container">
          <img
            src="data:<%= project.mime %>;base64,<%= project.content.toString('base64')
            %>"
            alt="project screenshot"
            class="project-img"
          />
        </div>
        <p><%= project.description %></p>
        <div class="link-div">
          <a href="<%= project.repos %>">Source Code</a>
          <% if (project.page_url!='') { %>
          <a href="<%= project.page_url %>">Live Page</a>
          <% } %>
        </div>
        <div class="update-link-div">
          <% if (user && project.user_id==user.id) { %>
          <a href="/update/<%= project.project_id %>">Update Project</a>
          <% } %>
        </div>

        <footer class="project-footer">
          Created by <%= owner.displayname %>
          <a href="/user/<%= project.user_id %>">
            <img
              src="data:<%= owner.mime %>;base64,<%= owner.content.toString('base64') %>"
              alt="Avatar"
              class="mini-avatar"
            />
          </a>
        </footer>
      </div>
      <% } %> <% } %>
    </article>
  </body>
</html>
