<!DOCTYPE html>
<html>
  <%- include('head', { title: 'Project' }) %>

  <body>
    <%- include('header') %>
    <h1 class="center">Projects of <%= owner.displayname %></h1>
    <article class="projects-board">
      <% if (!projects) { %>
      <h2 class="center">No posting yet...</h2>
      <% } else { %> <% for (let project of projects) { %>
      <div class="project-board" id="<%= project.id %>">
        <h2><%= project.title %></h2>
        <div class="image-container">
          <img
            src="<%= project.image_path %>"
            alt="<%= project.alt %>"
            class="project-img"
          />
        </div>
        <div class="categories">
          <% for (let category of project.categories) { %> #<%= category %> <% }
          %>
        </div>
        <p><%= project.content %></p>
        <% if (user && owner.id==user.id) { %>
        <a href="/update/<%= project.id %>">Update Project</a>
        <% } else { %>
        <footer class="project-footer">
          Created by <%= project.displayname %>
          <img
            src="data:<%= owner.mime %>;base64,<%= owner.content.toString('base64') %>"
            alt="Avatar"
            class="mini-avatar"
          />
        </footer>
        <% } %>
      </div>
      <% } %> <% } %>
    </article>
    <div class="link-div">
      <a href="/users">Back to User Page</a>
    </div>
  </body>
</html>
